/.venv/
/.idea/
/_pycache_/
/.vscode/
.gitignore
__pycache__/bullet.cpython-312.pyc
__pycache__/settings.cpython-312.pyc
__pycache__/ship.cpython-312.pyc
__pycache__/alien.cpython-312.pyc
__pycache__/game_stats.cpython-312.pyc
__pycache__/button.cpython-312.pyc
__pycache__/scoreboard.cpython-312.pyc
